.header-Nav__items{
display: grid;
grid-template-columns: minmax(1.2rem, 3fr) minmax(1.2rem, 1fr) minmax(1.2rem, 1fr);
gap:.5rem;
list-style: none;
}

footer {
background-color: red;
bottom: 0%;
}
.footer-Nav__items {
    display:flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    align-items: center;

}
.footer-Nav__item {
    font-size: xx-large;
    margin: 1em;
}


@media  screen and (max-width: 500px){
    .footer-Nav__item {
        font-size: large;
        margin: .5em;
    }
}
